<!--login.html-->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div class="container" align="center">
        <h1>Login</h1>
    <form action="/action-login-check" method="POST" class="form-signin">
        <h3 text="Login"></h3>
        <input type="text" name="email" placeholder="Email" /> <br /><br />
        <input type="password" placeholder="Password" name="password" /> <br /><br />
        <button type="Submit" text="Login">Login</button>  <a href="@{|/register|}" text="'Register'"></a><br/>
        </div>
    </form>
        <style>
            .container{
                margin: 200px;
            }
        </style>
</body>
</html>